


#username,
#credits {
  margin: 25px;
  background-color: #1F3F2E;
  overflow: hidden;
  padding: 10px;
  border: 3px solid #1F3F2E;
  border-radius: 10px;
  color: white;
}

#chest {
  background-color: #6DA87B;
  display: flex;
  justify-content: center;
  align-self: stretch;
}

#gamble {
  flex: 1;
  cursor: pointer;
}

#ChestVideo {
  flex: 1;
  max-width: 100%;
}

#ending {
  display: flex;
  background-color: #939E32;
  justify-content: space-around;
  flex-wrap: wrap;
}

#wonAmount,
#homePage,
#playAgain {
  margin: 25px;
  padding: 25px;
  border: 3px solid #1F3F2E;
  border-radius: 10px;
}

#wonAmount {
  background-color: #2A9B1D;
  text-align: center;
  font-size: 30px;
}

#playAgain,
#homePage {
  background-color: #D8170D;
}

#retry,
#home {
  background-color: #D8170D;
  cursor: pointer;
  font-size: 30px;
  border: none;
  padding: 15px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#home {
  flex: 1;
}
